<a href="https://colab.research.google.com/github/NicoD920/mineData_Work/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#from google.colab import drive
#drive.mount('/content/drive')

In [2]:
import pandas as pd

#file_path = '/content/drive/MyDrive/Universidad/5Año-2Semestre/Minería de Datos/Work/archive/beer_reviews.csv'
#data = pd.read_csv(file_path)

In [3]:
#print(data)

In [4]:
#url_1 = 'https://raw.githubusercontent.com/NicoD920/mineData_Work/main/data/parte_1.csv'
#url_2 = 'https://raw.githubusercontent.com/NicoD920/mineData_Work/main/data/parte_2.csv'
#url_3 = 'https://raw.githubusercontent.com/NicoD920/mineData_Work/main/data/parte_3.csv'
#url_4 = 'https://raw.githubusercontent.com/NicoD920/mineData_Work/main/data/parte_4.csv'
#url_5 = 'https://raw.githubusercontent.com/NicoD920/mineData_Work/main/data/parte_5.csv'
#url_6 = 'https://raw.githubusercontent.com/NicoD920/mineData_Work/main/data/parte_6.csv'
#url_7 = 'https://raw.githubusercontent.com/NicoD920/mineData_Work/main/data/parte_7.csv'
#url_8 = 'https://raw.githubusercontent.com/NicoD920/mineData_Work/main/data/parte_8.csv'
#url_9 = 'https://raw.githubusercontent.com/NicoD920/mineData_Work/main/data/parte_9.csv'
#data_1 = pd.read_csv(url_1,sep=",", encoding="UTF-8")
#data_2 = pd.read_csv(url_2,sep=",", encoding="UTF-8")
#data_3 = pd.read_csv(url_3,sep=",", encoding="UTF-8")
#data_4 = pd.read_csv(url_4,sep=",", encoding="UTF-8")
#data_5 = pd.read_csv(url_5,sep=",", encoding="UTF-8")
#data_6 = pd.read_csv(url_6,sep=",", encoding="UTF-8")
#data_7 = pd.read_csv(url_7,sep=",", encoding="UTF-8")
#data_8 = pd.read_csv(url_8,sep=",", encoding="UTF-8")
#data_9 = pd.read_csv(url_9,sep=",", encoding="UTF-8")

In [5]:
import pandas as pd

urls = [
    'https://raw.githubusercontent.com/NicoD920/mineData_Work/main/data/parte_1.csv',
    'https://raw.githubusercontent.com/NicoD920/mineData_Work/main/data/parte_2.csv',
    'https://raw.githubusercontent.com/NicoD920/mineData_Work/main/data/parte_3.csv',
    'https://raw.githubusercontent.com/NicoD920/mineData_Work/main/data/parte_4.csv',
    'https://raw.githubusercontent.com/NicoD920/mineData_Work/main/data/parte_5.csv',
    'https://raw.githubusercontent.com/NicoD920/mineData_Work/main/data/parte_6.csv',
    'https://raw.githubusercontent.com/NicoD920/mineData_Work/main/data/parte_7.csv',
    'https://raw.githubusercontent.com/NicoD920/mineData_Work/main/data/parte_8.csv',
    'https://raw.githubusercontent.com/NicoD920/mineData_Work/main/data/parte_9.csv'
]

# Crear una lista para almacenar los DataFrames
dataframes = []

# Leer los archivos CSV y agregar los DataFrames a la lista
for url in urls:
    data = pd.read_csv(url, sep=",", encoding="UTF-8")
    dataframes.append(data)

# Concatenar los DataFrames en uno solo
df = pd.concat(dataframes, ignore_index=True)

# Imprimir las primeras filas del DataFrame resultante
print(df.head())

   brewery_id             brewery_name  review_time  review_overall  \
0       10325          Vecchio Birraio   1234817823             1.5
1       10325          Vecchio Birraio   1235915097             3.0
2       10325          Vecchio Birraio   1235916604             3.0
3       10325          Vecchio Birraio   1234725145             3.0
4        1075  Caldera Brewing Company   1293735206             4.0

   review_aroma  review_appearance review_profilename  \
0           2.0                2.5            stcules
1           2.5                3.0            stcules
2           2.5                3.0            stcules
3           3.0                3.5            stcules
4           4.5                4.0     johnmichaelsen

                       beer_style  review_palate  review_taste  \
0                      Hefeweizen            1.5           1.5
1              English Strong Ale            3.0           3.0
2          Foreign / Export Stout            3.0           3.0
3                 German Pilsener            2.5           3.0
4  American Double / Imperial IPA            4.0           4.5

                beer_name  beer_abv  beer_beerid
0            Sausa Weizen       5.0        47986
1                Red Moon       6.2        48213
2  Black Horse Black Beer       6.5        48215
3              Sausa Pils       5.0        47969
4           Cauldron DIPA       7.7        64883

In [6]:
df.describe()

,brewery_id,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,beer_beerid
count,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.518829e+06,1.586614e+06
mean,3.130099e+03,1.224089e+09,3.815581e+00,3.735636e+00,3.841642e+00,3.743701e+00,3.792860e+00,7.042387e+00,2.171279e+04
std,5.578104e+03,7.654427e+07,7.206219e-01,6.976167e-01,6.160928e-01,6.822184e-01,7.319696e-01,2.322526e+00,2.181834e+04
min,1.000000e+00,8.406720e+08,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e-02,3.000000e+00
25%,1.430000e+02,1.173224e+09,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,5.200000e+00,1.717000e+03
50%,4.290000e+02,1.239203e+09,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,6.500000e+00,1.390600e+04
75%,2.372000e+03,1.288568e+09,4.500000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.500000e+00,8.500000e+00,3.944100e+04
max,2.800300e+04,1.326285e+09,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.770000e+01,7.731700e+04

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   brewery_id          1586614 non-null  int64
 1   brewery_name        1586599 non-null  object
 2   review_time         1586614 non-null  int64
 3   review_overall      1586614 non-null  float64
 4   review_aroma        1586614 non-null  float64
 5   review_appearance   1586614 non-null  float64
 6   review_profilename  1586266 non-null  object
 7   beer_style          1586614 non-null  object
 8   review_palate       1586614 non-null  float64
 9   review_taste        1586614 non-null  float64
 10  beer_name           1586614 non-null  object
 11  beer_abv            1518829 non-null  float64
 12  beer_beerid         1586614 non-null  int64
dtypes: float64(6), int64(3), object(4)
memory usage: 157.4+ MB

In [8]:
df = df.drop('review_profilename', axis=1)

In [9]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 12 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   brewery_id         1586614 non-null  int64
 1   brewery_name       1586599 non-null  object
 2   review_time        1586614 non-null  int64
 3   review_overall     1586614 non-null  float64
 4   review_aroma       1586614 non-null  float64
 5   review_appearance  1586614 non-null  float64
 6   beer_style         1586614 non-null  object
 7   review_palate      1586614 non-null  float64
 8   review_taste       1586614 non-null  float64
 9   beer_name          1586614 non-null  object
 10  beer_abv           1518829 non-null  float64
 11  beer_beerid        1586614 non-null  int64
dtypes: float64(6), int64(3), object(3)
memory usage: 145.3+ MB

,brewery_id,review_time,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_abv,beer_beerid
count,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.586614e+06,1.518829e+06,1.586614e+06
mean,3.130099e+03,1.224089e+09,3.815581e+00,3.735636e+00,3.841642e+00,3.743701e+00,3.792860e+00,7.042387e+00,2.171279e+04
std,5.578104e+03,7.654427e+07,7.206219e-01,6.976167e-01,6.160928e-01,6.822184e-01,7.319696e-01,2.322526e+00,2.181834e+04
min,1.000000e+00,8.406720e+08,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e-02,3.000000e+00
25%,1.430000e+02,1.173224e+09,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,3.500000e+00,5.200000e+00,1.717000e+03
50%,4.290000e+02,1.239203e+09,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,6.500000e+00,1.390600e+04
75%,2.372000e+03,1.288568e+09,4.500000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.500000e+00,8.500000e+00,3.944100e+04
max,2.800300e+04,1.326285e+09,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.000000e+00,5.770000e+01,7.731700e+04

In [10]:
print(df.head())

   brewery_id             brewery_name  review_time  review_overall  \
0       10325          Vecchio Birraio   1234817823             1.5
1       10325          Vecchio Birraio   1235915097             3.0
2       10325          Vecchio Birraio   1235916604             3.0
3       10325          Vecchio Birraio   1234725145             3.0
4        1075  Caldera Brewing Company   1293735206             4.0

   review_aroma  review_appearance                      beer_style  \
0           2.0                2.5                      Hefeweizen
1           2.5                3.0              English Strong Ale
2           2.5                3.0          Foreign / Export Stout
3           3.0                3.5                 German Pilsener
4           4.5                4.0  American Double / Imperial IPA

   review_palate  review_taste               beer_name  beer_abv  beer_beerid
0            1.5           1.5            Sausa Weizen       5.0        47986
1            3.0           3.0                Red Moon       6.2        48213
2            3.0           3.0  Black Horse Black Beer       6.5        48215
3            2.5           3.0              Sausa Pils       5.0        47969
4            4.0           4.5           Cauldron DIPA       7.7        64883